<!-- parallax  -->
<!-- si modo movil o no carga img fija del parallax -->

<!-- carrousell de pantallas -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h3>Curriculum Vitae</h3>
        <p>Visita mi curriculum vitae para saber sobre mi experiencia laboral.</p>
        <a [routerLink]="['/cv']">Saber Más..</a>
      </div>
      <div class="carousel-item">
        <h3>Projectos</h3>
        <p>Investiga sobre mis proyectos personales.</p>
        <a [routerLink]="['/project-list']">Saber Más..</a>
      </div>
      <div class="carousel-item">
        <h3>Arte</h3>
        <p>Averigua un poco más sobre mi viendo mis proyectos artisticos.</p>
        <a [routerLink]="['/art-album-list']">Saber Más..</a>
      </div>
    </div>
    <button  type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="material-icons">
            <span class="material-symbols-outlined">
                arrow_back_ios
                </span>
        </span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button  type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0">
        0
    </button>
    <button  type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1">
        0
    </button>
    <button  type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2">
        0
    </button>
    <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="material-icons">
            <span class="material-symbols-outlined">
                arrow_forward_ios
                </span>
        </span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
